.btn-warning{
    background-color:#F78400;
    border-color:#F78400;
    color:#FFF
}
.btn-warning.active,.btn-warning:active,.btn-warning:focus,.btn-warning:hover,.open .dropdown-toggle.btn-warning{
    background-color:#f7a54a;
    border-color:#f7a54a;
    color:#FFF
}
.margin{
    margin-top: 7px;
}
.table-padding{
    padding: 0;
}
.ibox-content{
    background: #2d2d2d;
    color: #fff;
    border-color: #575757;
    padding: 0px;
    border: none;
    padding: 5px 20px 1px !important;
}
.echarts{
    margin-top: 10px
}
.table>tbody>tr>td{
    border:none;
}
.height{
    padding: 5px;
    height: 100%;
    color: #444;
}
.select2-container{
    width: 100% !important;
    text-align: center;
}
.screen{
    margin: 0px 0px 5px 0px;
}
.selectDiv{
    display: inline-block;
    /*font-size: 14px;*/
    border: solid 1px #858585;
    margin-left: 6px;
    padding: 2px 5px;
}
.selectColor{
    color:#f7a54a ;
}
.selectDel{
    margin-left: 5px;
    color:#f7a54a ;
    cursor:pointer;
}
.collection{
    height: 20px;
    text-align: right;
    cursor: pointer;
}
.position{
    margin-left: 10px;
}